<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>815959567920-7gmncm8hdlmr2afg2o685p6bigif9ktb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.815959567920-7gmncm8hdlmr2afg2o685p6bigif9ktb</string>
	<key>API_KEY</key>
	<string>AIzaSyChhxwVyY_c5vKSE8sLKknDADBcQYj6cmA</string>
	<key>GCM_SENDER_ID</key>
	<string>815959567920</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.galaxies.firebase</string>
	<key>PROJECT_ID</key>
	<string>my-expo-app-bb45c</string>
	<key>STORAGE_BUCKET</key>
	<string>my-expo-app-bb45c.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:815959567920:ios:8e278eaae9549a9c3bc7f5</string>
</dict>
</plist>